* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: hsl(0, 0%, 98%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	color: hsl(229, 6%, 66%);
}

h1,
h2 {
	color: hsl(234, 12%, 34%);
}

main {
	height: 100vh;
	width: 100%;
	padding: 35px;
	padding-top: 60px;
	padding-bottom: 40px;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-bottom: 60px;

		h2 {
			font-weight: 400;
			font-size: 25px;
		}
		h1 {
			font-size: 25px;
			font-weight: 600;
			padding-bottom: 10px;
		}

		p {
			text-align: center;
		}
	}
}

.card {
	border-top: 1px solid black;
	height: 230px;
	margin-bottom: 30px;
	border-radius: 5px;
	padding: 25px;
	-webkit-box-shadow: 0px 6px 16px -7px hsl(229, 6%, 66%);
	-moz-box-shadow: 0px 6px 16px -7px hsl(229, 6%, 66%);
	box-shadow: 0px 6px 16px -7px hsl(229, 6%, 66%);

	h2 {
		font-weight: 600;
	}

	.card_text {
		margin-top: 8px;
	}

	.card_icon {
		position: absolute;
		bottom: 20px;
		right: 30px;
		width: 64px;
		height: 63px;
	}
}

.card-one {
	position: relative;
	border-top: 4px solid hsl(180, 62%, 55%);

	.card_icon {
		background-image: url(img/icon-supervisor.svg);
	}
}
.card-two {
	position: relative;
	border-top: 4px solid hsl(0, 78%, 62%);

	.card_icon {
		background-image: url(img/icon-team-builder.svg);
	}
}
.card-three {
	position: relative;
	border-top: 4px solid hsl(34, 97%, 64%);
	.card_icon {
		background-image: url(img/icon-karma.svg);
	}
}
.card-four {
	position: relative;
	border-top: 4px solid hsl(212, 86%, 64%);
	.card_icon {
		background-image: url(img/icon-calculator.svg);
	}
}

@media (min-width: 768px) {
	.card {
		max-width: 350px;
		margin: 20px;
	}

	.card_box {
		display: flex;
		align-items: center;
		justify-content: center;

		.card_two {
			margin-bottom: 20px;
		}
	}

	.desktop_one,
	.desktop_four {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	main {
		padding-top: 30px;

		.header {
			padding-bottom: 30px;
		}
	}
}
